
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<h1>Please tell us what assignments you have coming up so we can build your schedule </h1>

<form action="{% url 'update_assignments' %}" method="post">
{% csrf_token %}

{% for i in '123456789'|make_list %}
  <p>
  <label for="course{{ i }}">Assignment {{forloop.counter}}:</label>
  <select id="course{{ i }}" name="course{{ i }}">
    {% for course in course_name_list %}
    <option value="{{ course.id }}">{{ course.coursename }}</option>
    {% endfor %}
  </select><br>

  <label for="type{{ i }}"> What type of assignment is this? </label>
  <select id="type{{ i }}" name="type{{ i }}">
    <option value="HW">Homework</option>
    <option value="Pr">Project</option>
    <option value="Ex">Exam</option>
  </select><br>

  <label for="name{{ i }}">Assignment Name: </label>
  <input type="text" name="name{{ i }}" id="name{{ i }}"><br>

  <label for="deadline{{ i }}">When is it due?: </label>
  <input type="datetime-local" name="deadline{{ i }}" id="deadline{{ i }}"><br>

  <label for="duration{{ i }}">About how many hours do you expect to need to complete this assignment? </label>
  <input type="number" name="duration{{ i }}" id="duration{{ i }}" step=0.25><br>
  </p>
{% endfor %}

<input type="submit" value="Submit">
</form>
