{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

<h2>These questions will help us tailor our scheduleing algorithim to you:</h2>
<br>
<br>
<p>What classes are you taking this semester?</p>

<form action="{% url 'update_goals' %}" method="post">
{% csrf_token %}

{% for i in '1234567'|make_list %}
  <label for="class{{ i }}">Class {{forloop.counter}}:</label>
  <input type="text" name="class" id="class{{ i }}"><br>
{% endfor %}
<br>
<label for="start_time">When is the earliest we should schedule something for you?</label>
<input type="time" name="start_time" id="start_time" min="00:15" max="19:00" step=900 required><br>

<label for="end_time">When is the latest we should schedule something for you?</label>
<input type="time" name="end_time" id="end_time" min="07:00" max="23:45" step=900 required><br>

<p>When do you think you are most productive?</p>
<input type="radio" id="EB" name="productive_time" value="EB" required>
<label for="EB">5am - 8am <em>Early Bird</em></label>
<input type="radio" id="MM" name="productive_time" value="MM" required>
<label for="MM">8am - 11am <em>Morning Magpie</em></label>
<input type="radio" id="MD" name="productive_time" value="MD" required>
<label for="MD">11am - 2pm <em>Mid-Day Macaw</em></label>
<input type="radio" id="AA" name="productive_time" value="AA" required>
<label for="AA">2pm - 5pm <em>Afternoon Albatross</em></label>
<input type="radio" id="EE" name="productive_time" value="EE" required>
<label for="EE">5pm - 8pm <em>Evening Eagle</em></label>
<input type="radio" id="NO" name="productive_time" value="NO" required>
<label for="NO">8pm - 10pm <em>Night Owl</em></label>
<input type="radio" id="NN" name="productive_time" value="NN" required>
<label for="NN">10pm - 1am <em>Nocturnal Nightingale</em></label><br>

<br>
<input type="submit" value="Submit">
</form>

<a href="{% url 'scheduler' %}"><button type="button" style="position: absolute;left: 50px;top: 25px;
background-color: #DC143C;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
font-family: Oswald;
margin: 4px 2px;
cursor: pointer;"> Home </button></a>

{% if user.is_authenticated %}
<a href="#" onClick="document.getElementById('logoutform').submit()"><button type="button" style="position: absolute;left: 50px;top: 100px;
background-color: #DDA0DD;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;">Logout</button></a>
<form id="logoutform" method="POST" action="{% url 'logout' %}">
{% csrf_token %}
<input type="hidden">
</form>
{% endif %}
