{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

<h2>Please answer the following questions so we can tailor or scheduleing algorithim to you</h2>

<p>First up, what classes are you taking this semester?</p>

<form action="{% url 'update_goals' %}" method="post">
{% csrf_token %}

{% for i in '1234567'|make_list %}
  <label for="class{{ i }}">Class {{forloop.counter}}:</label>
  <input type="text" name="class" id="class{{ i }}"><br>
{% endfor %}

<input type="submit" value="Submit">
</form>
